<div class="content-inner">
    <div class="logo">
        <img src="./images/logo.png">
    </div>
    <div class="shortener">
        <form id="shorten_form" action="/shorten" method="post">
            <div class="form_description">
                <h2></h2>
                <p>Enter any address to shorten it and share with the world</p>
            </div>


            <label class="description" for="textBox">Long Address: </label>
            <div>
                <input id="textBox" name="url" class="element text medium" type="text"
                       placeholder="http://www.google.com"/>
            </div>
            <input id="shorten_button" type="submit" name="submit" value="Shorten"/>


        </form>
    </div>
</div>