<div class="content-inner">
    <div class="logo">
        <img src="./images/logo.png">
    </div>
    <form action="/shorten" method="post">
        <div class="shortener">
            <div class="shortener_text"><input id="textBox" name="url" class="element text medium" type="text"
                                               placeholder="http://www.realyLongUrl.com"/></div>
            <div class="shortener_button"><input id="shorten_button" type="submit" name="submit" value="Shorten"/></div>
        </div>
    </form>
</div>