
.grid-container {
    display: grid;
    grid-template-rows: 20px 40% 300px 20%;
    grid-template-columns: 18% repeat(3, 1fr) 18%;
    grid-template-areas:
            ". . . . ."
            " left-side header header header right-side "
            " left-side content content content right-side "
            " left-side footer footer footer right-side ";
    grid-gap: 0px;

}


.header {
    font-size: large;
    grid-area: header;
}

.logo {
    margin: 0 auto;
}

.content > div {
    border: black solid;
}

.content {
    display: grid;
    grid-template-areas: "  content-inner ";
    overflow: auto;
    grid-area: content;
    justify-items: center;
    align-items: stretch;
}

.content-inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: content-inner;
}

.content-inner > div {
    border: yellow dashed;
}

.grid-container > div {
    border-color: red;
}


.shortener {
    font-size: small;
}

.footer {
    grid-area: footer;
    justify-self: end;
}

.right-side {
    grid-area: right-side;
}

.left-side {
    grid-area: left-side;
}

.header {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr;
    padding: 15px;
}

.user {
    justify-self: end;
}

.menu {
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(3, 100px) 1fr;
    grid-template-rows: 1fr;
}

.menu-item {
    justify-self: center;

}

.menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user:hover {
    text-decoration: underline;
    cursor: pointer;
}
