
.grid-container {
    display: grid;
    grid-template-rows: 20px 40% 300px 20%;
    grid-template-columns: 18% repeat(3, 1fr) 18%;
    grid-template-areas: ". . . . ." " left-side header header header right-side " " left-side content content content right-side " " left-side footer footer footer right-side ";
    grid-gap: 0px;

}

body {
    background-color: #CDDCEC;
    background: #CDDCEC;
    font-family: "Lucida Grande", "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

.header {
    font-size: large;
    grid-area: header;
    background-color: aqua;
}

.logo {
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 7% 1fr 7%;
    grid-template-areas: " . content-inner .";
    overflow: auto;
    grid-area: content;
    background-color: #fff;
    justify-items: center;
    align-items: stretch;
}

.content-inner {
    /*background-color: darkgoldenrod;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: content-inner;

}

.shortener {
    font-size: small;
}

form ul {
    font-size: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

form li {
    display: block;
    margin: 0;
    padding: 4px 5px 2px 9px;
    position: relative;
}

* html form li {
    height: 1%;
}

.content-inner > div:nth-child(odd) {

    /*background-color: #529214;*/
}

.content-inner > div:nth-child(even) {
    /*background-color: #d12f19;*/
}

.footer {
    grid-area: footer;
    justify-self: end;
}

.right-side {
    grid-area: right-side;
}

.left-side {
    grid-area: left-side;
}

/*div {*/
/*border-width: 1px;*/
/*border-style: solid;*/
/*}*/

.header {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr;
    padding: 15px;
}

.user {
    justify-self: end;
}

.menu {
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(3, 100px) 1fr;
    grid-template-rows: 1fr;
}

.menu-item {
    justify-self: center;

}

.menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active {
    text-decoration: underline;
}