

.grid-container {
    display: grid;
    grid-auto-columns: auto;
    grid-template-areas:
    " header "
    " content "
    " footer ";
}

.logo {
    margin: 0 auto;
}

.content {
    grid-area: content;
    justify-items: center;
    align-items: stretch;
}

.content-inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: content-inner;

}

.footer {
    grid-area: footer;
    justify-self: end;
}

.header {
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.user {
    justify-self: end;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    justify-items: center;
}